/* Global heading styles */

h1 {
  font-family: var(--font-heading);
  font-size: 46px;
  line-height: 1.12;
  color: var(--dark);
  margin-bottom: 14px;
  font-weight: 700;
}

h1 em {
  font-style:italic;
  color:var(--blue);
}

@media (max-width: 900px) {
  h1 { font-size: 34px; }
}
